.purpose_text{
    color:#3E3C3C;
    background-color: rgba(196,196,196,0.81);
    width: 30%;
    text-align: center;
    padding: 3%;
    font-size: 170%;
    font-family: 'Times New Roman', Times, serif;
}