*{
    text-decoration: none;
}
.header{
    background-color: rgba(0, 0, 0, 0.0);
    color: '#FFFCFC';
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 5%;
    width: 100%;
    z-index: 100;
    margin-left: 0%;
    margin-right: 0%;
}
.header_pic{
    display: inline-block;
    align-items: center;
    flex: 1;
}
.header_logo{
    object-fit: contain;
    margin-left: 5%;
    margin-top: 2%;
}
.header_options{
    padding-left: 20%;
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
.white{
    color: white;
    text-align: center;
    transition: color 500ms, background-color 500ms;
    width: 130%;
}
.black{
    color: black;
    text-align: center;
    transition: color 500ms, background-color 500ms;
    width: 130%;
}
.black:hover{
    background-color: white;
}
.white:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.75);
}
.header_options Link{
    text-decoration: none;
}