.home{
   padding-left: 8%;
}
.home_text{
    color: white;
    font-weight: 700;
    font-size: 9vh;
}
.home_text_2{
    color: white;
    font-weight: 400;
    font-size: 4vh;
    margin-top: 1%;
}
.btn{
    display: flex;
}
.inner_btn{
    background-color: rgba(99, 69, 69, 0);
    margin-top: 1.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    border-radius: 60px;
    border-color: white;
    border-width: thin;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    transition: color 500ms, background-color 500ms;
}
.btn_link{
    width: 17%;
    margin-right: 1%;
    margin-top: 1.5%;
}
.inner_btn:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.75);
}