.home{
    height: 69.7vh;
    width: 100%;
    background-color: blue;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('../img/04-hyderabaduniversityjpg.jpg');
    background-size:100% 100%;
    padding-top: 15%;
    padding-left: 8%;
    top: 0;
    overflow:hidden;
}
.home_text{
    color: white;
    font-weight: 700;
    font-size: 9vh;
}
.home_text_2{
    color: white;
    font-weight: 400;
    font-size: 4vh;
    margin-top: 1%;
}
.btn{
    display: flex;
    margin-top: 2%;
    flex: 1;
}
.btn1{
    width: 20%;
}
.btn2{
    width: 20%;
    padding-left: 1%;
}
.btn button{
    background-color: rgba(0,0,0,0);
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    border-radius: 60px;
    border-color: white;
    border-width: thin;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    transition: color 500ms, background-color 500ms;
}
.btn Button:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.75);
}