.home{
    padding-left: 5%;
}
.home_text{
    color: white;
    font-weight: 700;
    font-size: 9vh;
}
.home_text_2{
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 4vh;
    margin-top: 1%;
}
.btn{
    display: flex;
}
.btn_link{
    width: 17%;
    margin-right: 5%;
    margin-top: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.btn Button{
    background-color: rgba(0,0,0,0);
    margin-right: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    border-radius: 60px;
    border-color: white;
    border-width: thin;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    transition: color 500ms, background-color 500ms;
}
.btn Button:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.75);
}