body {
  max-height: 100%;
  width: 100% ;
}
.header{
  position: absolute;
  top: 0;
}
.main{
  height: 69.7vh;
  width: 100%;
  background-color: blue;
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('./img/04-hyderabaduniversityjpg.jpg');
  background-size:100% 100%;
  padding-top: 15%;
  top: 0;
  overflow:hidden;
}